<% provide :title, t("pages.signup.title") %>
<div class="container h-100 px-3 py-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-7">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body px-5 py-4">
          <h2 class="text-uppercase text-center mb-5"><%= t "pages.signup.title" %></h2>
             <%= render "form", btn_label: t("pages.signup.sign_up_btn") %>
             <p class="text-center text-muted mt-5 mb-0"><%= t "pages.signup.account_question" %><a href="#!" class="fw-bold text-body"><u><%= t "pages.signup.login_here" %></u></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
